* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1300px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
#home{
	height: 100vh;
}
#home header{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	height: 100px;
	width: 95%;
	max-width: 1500px;
	margin: 0 auto;
}
#home header h1{
	width: 200px;
}
#home header h1 a{
	display: block;
}
#home header h1 a img{
	width: 100%;
	display: block;
}
#home header ul.middle ,#home header ul.right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#home header ul li{
	margin-right: 30px;
}
#home header ul li a{
	display: block;
	font-size: 18px;
	font-family: 'Circular-Std-Bold';
	color: #636e72;
}
#home header ul.right li a.button{
	padding: 20px 30px;
	border: 1px solid grey;
	border-radius: 30px;
	color: #1e90ff;
}

#spotlight{
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
}
#spotlight div.left{
	width: 45%;
	padding-top: 150px;
}
#spotlight div.left h1{
	font-size: 87px;
	font-family: 'Circular-Std-Bold';
	margin-bottom: 30px;
}
#spotlight div.left p{
	font-size: 22px;
	color:#636e72;
	margin-bottom: 30px;
}
#spotlight div.left a.button{
	display: inline-block;
	padding: 20px 60px;
	background-color: #1e90ff;
	border-radius: 50px;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 30px;
}
#spotlight div.left ul li{
	display: flex;
}
#spotlight div.left ul li p{
	font-size: 18px;
}
#spotlight div.left ul li span{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
#spotlight div.left ul li span img{
	display: block;
	width: 100%;
}
#spotlight div.right{
	width: 48%;
	position: absolute;
	right: 0;
	box-sizing: border-box;
}
#spotlight div.right div.box{
	width: 650px;
	height:900px;
	background-color: #d1d0cc;
	position: absolute;
	right: 0;
	bottom: -100px;
	z-index: -1;
}
#spotlight div.right img.mesh_bg{
	position: absolute;
	z-index: 99;
	bottom: -40px;
	right: 84px;
}
#spotlight div.right img.model{
	width: 600px;
	position: absolute;
	z-index: 999;
	bottom: 0px;
    right: 124px;
}
#spotlight div.right div.content_box{
	position: absolute;
	z-index: 9999;
	bottom: 0;
	right: 380px;
	width: 500px;
	background-color: #000540;
	padding: 50px;
	color: #ffffff;
}
#spotlight div.right div.content_box p{
	font-size: 20px;
}
#spotlight div.right div.content_box img{
	position: absolute;
	top: 0px;
    left: -30px;
}
#spotlight div.right div.content_box h6{
	font-size: 22px;
	margin-top: 20px;
}
#spotlight div.right div.content_box span{
	display: inline-block;
	font-size: 15px;
}